.section-padding {
	padding: 1.5em 2em;
}

.main {
	.container {
		margin: 0 auto;
		padding: 0 1em 0 1.5em;
		width: 100%;
		max-width: 1600px;
	}
}

.container {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: 1600px;
}
.section-titlebox {
	display: flex;
	justify-content: flex-end;
}
.section-title {
	margin-bottom: 0.8em;
	letter-spacing: 0.3px;
	text-transform: uppercase;
	font-size: 2.4rem;
	color: var(--white);
	.section-span {
		color: var(--red);
		border-bottom: 2px solid var(--red);
	}
	&--first {
		text-align: right;
	}
	&--second {
		text-align: left;
		color: var(--navy);
	}
}
.section-subtitle {
	position: absolute;
	top: 25%;
	font-size: 3rem;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight: 800;
	color: transparent;
	-webkit-text-stroke: 0.5px var(--white);
	writing-mode: vertical-lr;
	opacity: 0.8;
	z-index: 50;

	&--first {
		left: 0;
		&::before {
			content: '';
			position: absolute;
			right: -5px;
			height: 100%;
			background-color: var(--red);
			width: 2px;
		}
	}
	&--second {
		right: 0;
		-webkit-text-stroke: 0.5px var(--navy);
		&::before {
			content: '';
			position: absolute;
			left: -5px;
			height: 100%;
			background-color: var(--red);
			width: 2px;
		}
	}
}

.card {
	&--navy {
		background-color: var(--navy);
	}
	&--white {
		background-color: var(--white);
	}
}
.card-title {
	&--lightblack {
		color: var(--lightblack);
	}
	&--white {
		color: var(--white);
	}
}
.card-description {
	&--lightblack {
		color: var(--lightblack);
	}
	&--white {
		color: var(--white);
	}
}
.card-btn {
	&--navy {
		color: var(--white);
		background-color: var(--navy);
		&:hover {
			color: var(--white);
			background-color: var(--red);
		}
	}
	&--white {
		color: var(--navy);
		background-color: var(--white);
		&:hover {
			color: var(--white);
			background-color: var(--red);
		}
	}
}
.socials__box-icon--instagram-white {
	color: var(--white);
}

.titlebox {
	display: flex;
	&--left {
		justify-content: flex-start;
	}
	&--right {
		justify-content: flex-end;
	}
}
.navy-section {
	background-color: var(--navy);
}

.white-section {
	background-color: var(--white);
}

.socials-white {
	background-color: var(--white);
}
@media (min-width: 576px) {
	.main {
		.container {
			padding: 0 2em;
		}
	}
	.section-padding {
		padding: 3em 2em;
	}

	.section-title {
		font-size: 3rem;
	}
	.section-subtitle {
		font-size: 3.3rem;
	}
}

@media (min-width: 768px) {
	.section-padding {
		padding: 4em 2em;
	}
	.section-title {
		font-size: 3.8rem;
	}
	.section-subtitle {
		font-size: 3.5rem;
	}
}

@media (min-width: 992px) {
	.section-padding {
		padding: 5em 3em;
	}
	.section-title {
		font-size: 4.5rem;
	}
	.section-subtitle {
		font-size: 4rem;
	}
}

@media (min-width: 1400px) {
	.section-title {
		font-size: 6rem;
	}
	.section-subtitle {
		font-size: 4.4rem;
		letter-spacing: 30px;
	}
}
