@import '_components';
@import '_mixins';

//basic reset
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*a {
	text-decoration: none;
}
*a,
*button,
*input {
	outline: none;
}

*button {
	cursor: pointer;
}
:root {
	--navy: #041562;
	--blue: #11468f;
	--black: #0b090a;
	--lightblack: #212529;
	--red: #da1212;
	--darkred: #921a1a;
	--gray: #d9d9d9;
	--white: #eeeeee;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 69px;
}

body {
	font-size: 1.6rem;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: var(--navy);
}

//nav mobile
.nav {
	position: fixed;
	width: 100%;
	top: 0;
	box-shadow: 0 15px 15px -15px var(--navy);
	background-color: var(--white);
	z-index: 55555;
	&__mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-socials {
			margin-top: 2em;
			display: flex;
		}
		&-social {
			padding: 0.5em;
			margin: 0 0.2em;
		}
		&-icon {
			font-size: 2.2rem;
			color: var(--white);
			&--facebook {
				color: #4267b2;
			}
			&--youtube {
				color: #ff0000;
			}
			&--twitter {
				color: #1da1f2;
			}
			&--tiktok {
				color: #ff0050;
			}
		}
		&-img {
			padding: 0.5em;
			height: 65px;
			width: 200px;
			object-fit: contain;
		}

		&-list {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			top: 0;
			right: 0;
			width: 75vw;
			height: 100vh;
			box-shadow: 0 0 8px var(--black);
			transform: translateX(100%);
			transition: transform 0.3s ease-in;
			background-color: var(--black);
			list-style: none;
		}
		&-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			&:first-child {
				border-top: 1px solid var(--darkred);
			}
			border-bottom: 1px solid var(--darkred);
		}
		&-link {
			width: 100%;
			padding: 1em;
			text-transform: capitalize;
			color: var(--white);
			font-size: 1.35rem;
			transition: background-color 0.3s, padding-left 0.2s;
			&:hover {
				padding-left: 1.5em;
				background-color: var(--darkred);
			}
		}
		&-btn {
			padding: 0.3em;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--red);
			border-top: none;
			border-bottom: none;
			border-left: 1px solid var(--darkred);
			border-right: 1px solid var(--darkred);
			transition: background-color 0.3s;
			&:hover {
				background-color: var(--darkred);
			}
			&:hover svg {
				color: var(--red);
			}
		}
		&-svg {
			color: var(--darkred);
			transition: color 0.3s;
		}
		.show-menu {
			transform: translateX(0);
		}
	}
	&__btn {
		padding: 0.5em;
		background: transparent;
		border: none;
		outline: none;

		&-box {
			position: relative;
			width: 40px;
			height: 30px;
		}
		&-bars {
			position: absolute;
			height: 2px;
			background-color: var(--red);
			transition: width 0.3s, background-color 0.1s;
			&::before,
			&::after {
				position: absolute;
				content: '';
				background-color: var(--red);
				height: 2px;
				right: 0;
				transition: width 0.3s, background-color 0.1s;
			}
		}
		&-bars {
			top: 0;
			right: 0;
			width: 75%;
			&::before {
				width: 60%;
				top: 13px;
			}
			&::after {
				width: 100%;
				top: 25px;
			}
		}
	}

	&__dropdown-list {
		flex-direction: column;
		width: 100%;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-in-out;
	}
	&__dropdown-item {
		display: flex;
	}
	&__dropdown-link {
		background-color: var(--lightblack);
		border-bottom: 1px solid var(--darkred);
	}

	.show-dropdown {
		display: flex;
		max-height: 300px;
		transition: max-height 0.3s ease-in-out;
	}
}

.btn-active {
	.nav__btn-bars,
	.nav__btn-bars::after,
	.nav__btn-bars::before {
		width: 100%;
		background-color: var(--white);
	}
}

//nav desktop
.nav {
	&__top {
		position: fixed;
		top: 0;
		left: 0;
		background-color: var(--blue);
		width: 100%;
		z-index: 5;
		border-bottom: 2px solid var(--red);
	}
	&__socials {
		display: flex;
		align-items: center;
		&-link {
			padding: 0.5em;
			margin-right: 1em;
			&:hover ion-icon {
				color: var(--red);
			}
			ion-icon {
				font-size: 2.2rem;
				color: var(--white);
				transition: color 0.3s;
			}
		}
	}
	&__desktop {
		display: none;
		align-items: strech;
		justify-content: flex-start;
		&-logo {
			margin-right: auto;
		}
		&-img {
			padding: 0.5em;
			height: 60px;
			width: 250px;
			object-fit: contain;
		}
		&-list {
			position: relative;
			display: flex;
			justify-content: center;
			list-style: none;
		}
		&-item {
			position: relative;
			background-color: transparent;

			&:hover .nav__desktop-link {
				color: var(--darkred);
			}
			&:nth-child(1),
			&:nth-child(2) {
				&:hover > .nav__desktop-dropdown {
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
				&:hover::before {
					width: 100%;
				}
				&::after {
					position: absolute;
					content: url(../icons/caret-down-outline.svg);
					filter: invert(20%) sepia(73%) saturate(4023%) hue-rotate(350deg) brightness(83%) contrast(108%);
					height: 15px;
					width: 15px;
					right: 50%;
					transform: translateX(50%);
					bottom: 5px;
				}
				&::before {
					position: absolute;
					content: '';
					left: 50%;
					height: 1.8px;
					bottom: 14px;
					width: 0;
					transform: translateX(-50%);
					background-color: var(--red);
					transition: width 0.3s;
				}
			}
		}
		&-link {
			display: block;
			height: 100%;
			width: 100%;
			padding: 0 0.5em;
			text-align: center;
			color: var(--blue);
			text-transform: uppercase;
			line-height: 64px;
			transition: color 0.3s;
			cursor: pointer;
		}
		&-dropdown {
			display: flex;
			flex-direction: column;
			position: absolute;
			left: -100px;
			width: 150px;
			top: 64px;
			background-color: var(--white);
			box-shadow: 0 15px 15px -15px var(--navy);
			list-style: none;
			pointer-events: none;
			opacity: 0;
			transition: opacity 0.2s;
			&--second {
				left: -11px;
			}
			&-item {
				&:hover .nav__desktop-dropdown-link {
					color: var(--darkred);
				}
			}
			&-link {
				padding: 0.8em;
				display: block;
				width: 100%;
				height: 100%;
				text-transform: uppercase;
				text-align: center;
				color: var(--blue);
				transition: color 0.3s, padding-left 0.15s;
				&:hover {
					padding-left: 1.2em;
				}
			}
		}
	}
}
// header
.header {
	margin-top: 69px;
	position: relative;
	width: 100%;
	min-height: 100vh;
	&__box {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: 0;
		transition: opacity 0.5s;
		background-position: center;
		&-active {
			opacity: 1;
		}
	}
	&__controls {
		position: absolute;
		top: 40%;
		transform: translateY(-50%);
		left: 0;
		width: 50px;
	}
	&__btn {
		position: relative;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--white);
		transition: 0.3s;
		cursor: pointer;
		&:hover {
			background-color: var(--darkred);
			&::before {
				border-bottom: 3px solid var(--white);
				border-left: 3px solid var(--white);
			}
		}
		&::before {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
			border-left: 3px solid var(--darkred);
			border-bottom: 3px solid var(--darkred);
			transition: border-bottom 0.3s, border-left 0.3s;
		}
		&:nth-child(2)::before {
			transform: rotate(225deg);
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: absolute;
		bottom: 45px;
		padding: 0.8em;
		padding-left: 1.5em;
		border-right: 2px solid var(--red);
		border-bottom: 2px solid var(--red);
		max-width: 75%;
		background-color: rgba($color: #000000, $alpha: 0.75);
	}
	&__title {
		margin-bottom: 0.25em;
		color: var(--white);
		font-size: 2.8rem;
		font-weight: 700;
	}
	&__subtitle {
		margin-bottom: 0.8em;
		color: var(--white);
		font-weight: 300;
		font-size: 1.6rem;
		font-style: italic;
	}
	&__link {
		@include btn;
		background-color: var(--white);
		color: var(--blue);
		&:hover {
			color: var(--darkred);
		}
	}
}
// about
.about {
	position: relative;
	background-color: var(--navy);
	&__text {
		margin-bottom: 0.5em;
		line-height: 150%;
		color: var(--white);
	}
	&__title {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5em 1em;
		margin-bottom: 0.5em;
		font-size: 2rem;
		background-color: var(--blue);
		color: var(--white);
		border-bottom: 2px solid var(--darkred);
		z-index: 5;
	}
	&__btn {
		position: relative;
		padding: 0.5em 1em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		border: none;
		background-color: var(--blue);
		color: var(--white);
		font-size: 2rem;
		border-bottom: 2px solid var(--darkred);
		transition: background-color 0.3s, color 0.3s;
		z-index: 5;
		cursor: pointer;
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 0%;
			top: 0;
			left: 0;
			background-color: var(--white);
			transition: height 0.3s;
			z-index: -10;
		}
		&:hover {
			color: var(--red);
			&::before {
				height: 100%;
			}
		}
		&:hover ion-icon {
			color: var(--blue);
		}
	}
	ion-icon {
		margin: 0 0.3em;
		color: var(--red);
		transition: color 0.3s;
	}
	&__accordion {
		&-table {
			padding: 1em;
			opacity: 0;
			background-color: var(--white);
			margin: 0 auto;
			transition: opacity 0.3s;
			visibility: hidden;
			width: 100%;
		}
		&-tr {
			display: flex;
			justify-content: center;
			width: 100%;
		}
		&-th {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0.15em;
			padding: 0.4em 0.1em;
			width: 33.3%;
			color: var(--navy);
			background-color: var(--gray);
			font-size: 1.3rem;
			border-radius: 3px;
			&--fr {
				background-color: var(--blue);
				color: var(--gray);
			}
		}
	}
	.active-accordion .about__accordion-table {
		opacity: 1;
		visibility: visible;
	}
}

//news
.news {
	position: relative;
	background-color: var(--white);

	.section-title {
		display: inline-block;
		border-bottom: 2px solid var(--darkred);
	}
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__card {
		margin-bottom: 2em;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		min-height: 350px;
		max-width: 275px;
		overflow: hidden;
		border-radius: 5px;
		box-shadow: 0 0px 5px var(--black);
		transition: box-shadow 0.3s;
		border-bottom: 2px solid var(--red);
		&:hover {
			box-shadow: 0 0px 12px var(--navy);
			border-bottom: 2px solid var(--darkred);
		}
		&:hover &-img {
			scale: 1.05;
		}
		&:hover &-bottom {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
		&-category {
			padding: 0.1em 0.3em;
			text-transform: uppercase;
			color: var(--white);
			font-size: 1.5rem;
			background-color: var(--red);
			z-index: 5;
		}
		&-img {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			object-fit: cover;
			transition: scale 0.3s;
		}
		&-top {
			margin: 0.5em 0 auto 0.5em;
			z-index: 5;
		}
		&-bottom {
			padding: 0.5em;
			color: var(--navy);
			background-color: var(--white);
			z-index: 10;
			transform: translateY(100%);
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.3s, transform 0.5s;
		}
		&-title {
			font-size: 1.9rem;
			margin-bottom: 0.5em;
		}
		&-date {
			font-size: 1.7rem;
		}
	}
	&__btn {
		@include btn;
		background-color: var(--red);
		color: var(--white);
		padding: 1em 2em;
		transition: background-color 0.3s, color 0.3s;
		font-weight: 700;
		&:hover {
			background-color: var(--navy);
			color: var(--white);
		}
	}
}
// events
.events {
	position: relative;
	.section-title {
		position: relative;
		display: block;
		text-align: right;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: var(--darkred);
			right: 0;
			bottom: 0;
		}
	}

	&__boxes {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&-calendar {
			margin-bottom: 1.3em;
		}
		&-btn {
			flex-direction: row;
		}
	}
	&__box {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&-card {
			display: flex;
			align-items: stretch;
			margin-bottom: 1em;
			background-color: var(--white);
			transition: background-color 0.3s;
			&:hover {
				background-color: var(--red);
			}
			&:hover .events__box-icon {
				background-color: var(--white);
				color: var(--red);
			}
			&:hover .events__box-text {
				color: var(--white);
			}
		}
		&-icon {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 1em;
			background-color: var(--red);
			color: var(--white);
			text-transform: uppercase;
			transition: background-color 0.3s, color 0.3s;
		}
		&-text {
			color: var(--navy);
			margin: auto;
			padding: 0.5em;
			transition: color 0.3s;
			// width: 100%;
		}
	}
	&__btn {
		align-self: center;
		@include btn;
		background-color: var(--red);
		color: var(--white);
		padding: 1em 2em;
		transition: background-color 0.3s, color 0.3s;
		font-weight: 700;
		&:hover {
			background-color: var(--white);
			color: var(--navy);
		}
	}
}
//newsletter
.newsletter {
	position: relative;
	background-color: var(--white);
	.section-title {
		display: inline-block;
		border-bottom: 2px solid var(--darkred);
	}
	.section-subtitle {
		top: 7%;
	}
	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		min-height: 40vh;
	}
	&__box {
		padding: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--white);
	}
	&__bottom {
		width: 100%;
	}
	&__title {
		margin-bottom: 1em;
		align-self: flex-start;
		font-size: 1.8rem;
		text-transform: uppercase;
		color: var(--navy);
	}
	&__input {
		margin-bottom: 1em;
		padding: 0.7em;
		font-family: 'Roboto Condensed', sans-serif;
		border: 1px solid transparent;
		font-size: 1.5rem;
		color: var(--navy);
		width: 100%;
		transition: border 0.3s, background-color 0.3s;
		&::placeholder {
			color: var(--navy);
		}
		&:focus {
			border: 1px solid var(--navy);
			background-color: var(--gray);
		}
	}
	&__btn {
		width: 100%;
		@include btn;
		padding: 0.8em 1.6em;
		background-color: var(--red);
		color: var(--white);
		font-size: 1.5rem;
		font-weight: 700;
		transition: background-color 0.3s, color 0.3s;
		&:hover {
			color: var(--white);
			background-color: var(--navy);
		}
	}
}
//socials
.socials {
	position: relative;
	.section-title {
		position: relative;
		display: block;
		text-align: right;
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: var(--darkred);
			right: 0;
			bottom: 0;
		}
	}
	&__textbox {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__boxes {
		display: flex;
		flex-direction: column;
	}
	&__box {
		margin: 1em;
		padding: 1.2em;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;
		min-height: 280px;
		transition: transform 0.3s, box-shadow 0.3s;
		&:hover {
			transform: scale(1.05);
			box-shadow: 0px 3px 15px var(--blue);
		}
		&-top {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 0.5em;
		}
		&-icon {
			margin-bottom: 0.15em;
			font-size: 3.5rem;
			&--facebook {
				color: #4267b2;
			}
			&--youtube {
				color: #ff0000;
			}
			&--twitter {
				color: #1da1f2;
			}
			&--tiktok {
				color: #ff0050;
			}
		}
		&-title {
			font-size: 2.3rem;
		}
		&-middle {
			padding: 0 0.5em;
			margin-bottom: 0.8em;
		}
		&-description {
			font-size: 1.6rem;
		}
		&-btn {
			@include btn;
			padding: 0.6em;
			font-size: 1.6rem;
			width: 100%;
			transition: color 0.3s, background-color 0.3s;
		}
	}
}
//structure,commissions,officials
.structure,
.commissions,
.officials {
	position: relative;
	.section-title {
		border-bottom: 2px solid var(--darkred);
	}
	&__title {
		font-size: 2.2rem;
		display: flex;
		margin-bottom: 1em;
		justify-content: center;
		color: var(--white);
	}
	&__boxes {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	&__box {
		display: flex;
		flex-direction: column;
		&--img {
			margin-bottom: 1em;
			align-items: center;
			width: 100%;
		}
		&-text {
			color: var(--white);
			font-size: 1.9rem;
			order: 1;
		}
		&-table {
			padding: 1em;
			width: 100%;
			background-color: var(--white);
		}
		&-tr {
			display: flex;
			justify-content: center;
			width: 100%;
		}
		&-th {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0.15em;
			padding: 0.4em 0.1em;
			width: 33.3%;
			color: var(--navy);
			background-color: var(--gray);
			font-size: 1.3rem;
			border-radius: 3px;
			&--fr {
				background-color: var(--blue);
				color: var(--gray);
			}
		}
	}
	&__img {
		margin-bottom: 1em;
		width: 100%;
	}
}
//anti-doping
.anti-doping {
	position: relative;
	.section-title {
		border-bottom: 2px solid var(--darkred);
	}
	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__box {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		padding: 1em;
		margin: 1em;
		background-color: var(--white);
		max-width: 400px;
		width: 100%;
		transition: transform 0.3s, box-shadow 0.3s;
		&:hover {
			transform: scale(1.05);
			box-shadow: 0px 3px 15px var(--blue);
		}
	}
	&__img {
		width: 100%;
	}
	&__btn {
		@include btn;
		margin: 1em;
		padding: 0.5em;
		color: var(--white);
		background-color: var(--navy);
		width: 100%;
		transition: background-color 0.3s;
		&:hover {
			background-color: var(--red);
		}
	}
}
//ranking
.ranking {
	position: relative;
	.section-title {
		border-bottom: 2px solid var(--darkred);
	}
	&__accordion {
		margin: 0 auto;
		max-width: 1200px;
		width: 100%;
		&-btn {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			color: var(--white);
			font-weight: 700;
			font-size: 1.4rem;
			border: none;
			border-bottom: 2px solid var(--darkred);
			background-color: var(--blue);
			text-transform: uppercase;
			transition: background-color 0.3s, border-bottom 0.3s;
			&:hover,
			&:focus {
				background-color: var(--red);
				border-bottom: 2px solid var(--blue);
			}
			&:hover .ranking__accordion-icon,
			&:focus .ranking__accordion-icon {
				background-color: var(--darkred);
			}
		}
		&-icon {
			padding: 0.5em;
			margin: 0.5em;
			color: var(--white);
			background-color: var(--navy);
			border-radius: 50%;
			font-size: 1.7rem;
			transition: background-color 0.3s;
		}
		&-table {
			display: none;
			padding: 1em 2em;
			width: 100%;
			background-color: var(--white);
		}
		&-tbody {
			width: 100%;
		}
		&-tr {
			display: flex;
			justify-content: center;
			width: 100%;
		}
		&-th {
			display: flex;
			align-items: center;
			justify-content: center;
			text-transform: uppercase;
			margin: 0.15em;
			padding: 0.8em;
			width: 25%;
			color: var(--navy);
			background-color: var(--gray);
			font-size: 1.15rem;
			border-radius: 3px;
			&--fr {
				background-color: var(--blue);
				color: var(--gray);
			}
		}
	}
	.active-ranking {
		display: flex;
		width: 100%;
	}
}
//calendar
.calendar {
	position: relative;
	.section-title {
		border-bottom: 2px solid var(--darkred);
	}

	&__month {
		margin-bottom: 1.5em;
		display: flex;
		align-items: center;
		position: relative;
		white-space: nowrap;
		font-size: 1.8rem;
		color: var(--white);
		&::after {
			content: '';
			position: relative;
			width: 90%;
			height: 1px;
			background-color: var(--blue);
			left: 10px;
		}
	}
	&__boxes {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
	&__box {
		margin-bottom: 1em;
		display: flex;
		align-items: stretch;
		background-color: var(--white);
		border-bottom: 2px solid var(--darkred);
	}
	&__date {
		padding: 0.5em;
		margin-right: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 15%;
		justify-content: center;
		background-color: var(--red);
	}
	&__day {
		margin-bottom: 0.15em;
		color: var(--gray);
		text-transform: uppercase;
		font-weight: 300;
	}
	&__number {
		color: var(--white);
		font-weight: 700;
	}
	&__info {
		padding: 0.5em;
		display: flex;
		flex-direction: column;
		width: 85%;
		color: var(--black);
	}
	&__dates,
	&__event,
	&__place {
		margin-bottom: 0.3em;
		font-weight: 700;
	}
	&__dates {
		font-size: 1.3rem;
	}
	&__event,
	&__description,
	&__place {
		font-size: 1.4rem;
	}
	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__btn {
		margin: 2em auto;
		display: flex;
		align-items: center;
		@include btn;
		font-size: 1.5rem;
		background-color: transparent;
		color: var(--white);
		&-icon {
			font-size: 2rem;
			margin: 0 0.5em;
		}
	}
}
//article
.article {
	position: relative;
	.section-title {
		border-bottom: 2px solid var(--darkred);
	}
	&__boxes {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__title {
		text-align: center;
		margin-bottom: 0.5em;
		font-size: 2.2rem;
		color: var(--white);
	}
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&-intro {
			margin-bottom: 1em;
		}
	}
	&__img {
		max-width: 800px;
		width: 100%;
	}
	&__info {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	&__category {
		margin-bottom: 1em;
		display: flex;
		align-items: center;
	}
	&__date {
		margin-right: 1em;
		color: var(--white);
	}
	&__btn {
		@include btn;
		background-color: var(--red);
		color: var(--white);
	}
	&__text {
		line-height: 150%;
		margin-bottom: 1em;
		color: var(--gray);
	}
	&__media {
		max-width: 400px;
		&-img {
			margin-bottom: 0.5em;
			width: 100%;
		}
	}
}
//allnews
.allnews {
	position: relative;
	.section-title {
		border-bottom: 2px solid var(--darkred);
	}
	.news__btn {
		&:hover {
			background-color: var(--white);
			color: var(--navy);
		}
	}
}
//contact
.contact {
	position: relative;
	.section-title {
		border-bottom: 2px solid var(--darkred);
	}
}
//footer
.footer {
	background-color: var(--black);
	&__boxes {
		display: flex;
		flex-direction: column;
	}
	&__box {
		display: flex;
		flex-direction: column;
		margin-bottom: 0.8em;
	}
	&__logo {
		margin-bottom: 0.8em;
		width: 200px;
		height: 50px;
	}
	&__img {
		object-fit: contain;
		height: 100%;
		width: 100%;
	}
	&__brand {
		margin-bottom: 0.5em;
		color: var(--white);
		text-transform: uppercase;
		font-weight: 700;
		font-size: 2.2rem;
	}
	&__motto {
		color: var(--gray);
		font-style: italic;
		font-size: 1.6rem;
	}
	&__menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		&-link {
			width: 100%;
			padding: 0.5em;
			margin: 0.3em;
			color: var(--gray);
			font-size: 1.7rem;
			border-bottom: 1px solid var(--lightblack);
			transition: color 0.3s, border-bottom 0.3s;
			&:hover {
				color: var(--red);
				border-bottom: 1px solid var(--darkred);
			}
		}
	}
	&__socials {
		display: flex;
		flex-direction: column;
		align-items: center;
		&-title {
			font-size: 2.2rem;
			text-transform: uppercase;
			font-weight: 700;
			color: var(--white);
		}
		&-link {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 0.5em;
			margin: 0.3em;
			font-size: 1.7rem;
			color: var(--gray);
			border-bottom: 1px solid var(--lightblack);
			transition: color 0.3s, border-bottom 0.3s;
			&:hover {
				color: var(--red);
				border-bottom: 1px solid var(--darkred);
			}
		}
		&-icon {
			margin-right: 0.3em;
			color: var(--white);
			&--facebook {
				color: #4267b2;
			}
			&--youtube {
				color: #ff0000;
			}
			&--twitter {
				color: #1da1f2;
			}
			&--tiktok {
				color: #ff0050;
			}
		}
	}
}

// media
@media (min-width: 576px) {
	.header {
		&__controls {
			width: 65px;
			top: 50%;
		}
		&__btn {
			width: 65px;
			height: 65px;
			&::before {
				width: 15px;
				height: 15px;
			}
		}
		&__content {
			padding: 1.5em;
			padding-left: 2.5em;
			bottom: 100px;
			max-width: 80%;
		}
		&__title {
			font-size: 3rem;
		}
		&__subtitle {
			font-size: 2.2rem;
		}
		&__link {
			font-size: 2rem;
		}
	}
	.about {
		&__text {
			font-size: 1.8rem;
		}
		&__title,
		&__btn {
			font-size: 2rem;
			padding: 0.6em 1.2em;
		}
		&__accordion {
			&-th {
				padding: 0.6em 0.4em;
				font-size: 1.5rem;
			}
		}
	}
	.structure,
	.commissions,
	.officials {
		&__box {
			&-th {
				padding: 0.6em 0.4em;
				font-size: 1.5rem;
			}
		}
	}
	.socials {
		&__box {
			&-icon {
				font-size: 4rem;
			}
			&-title {
				font-size: 2.6rem;
			}
			&-description {
				font-size: 1.8rem;
			}
		}
	}
}
@media (min-width: 768px) {
	.news {
		&__box {
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__card {
			min-width: 300px;
			margin: 0 1em 2em;
		}
	}
	.events {
		&__box {
			flex-direction: row;
			&-card {
				margin: 0.4em 0.7em 0.4em 0;
			}
		}
	}
	.newsletter {
		&__bottom {
			display: flex;
		}
		&__title {
			font-size: 2.3rem;
		}
		&__input {
			padding: 0.9em;
			font-size: 1.7rem;
			margin-bottom: 0;
			width: 70%;
			margin-right: 1em;
		}
		&__btn {
			width: 30%;
		}
	}
	.anti-doping {
		&__boxes {
			flex-direction: row;
		}
		&__box {
			min-height: 350px;
			max-height: 450px;
			max-width: 350px;
		}
		&__img {
			height: 300px;
			width: 100%;
			object-fit: contain;
		}
		&__btn {
			padding: 1em;
		}
	}

	.article {
		&__title {
			font-size: 2.6rem;
		}
		&__date {
			font-size: 2rem;
		}
		&__btn {
			font-size: 1.4rem;
		}
		&__text {
			font-size: 1.8rem;
		}
	}

	.calendar {
		&__date {
			width: 10%;
		}
		&__info {
			width: 90%;
		}
		&__dates {
			font-size: 1.5rem;
		}
		&__month {
			font-size: 2rem;
		}
		&__event,
		&__description,
		&__place {
			font-size: 1.6rem;
		}
		&__btn {
			font-size: 1.8rem;
			&-icon {
				font-size: 2.5rem;
			}
		}
	}
	.footer {
		&__logo {
			height: 60px;
			width: 250px;
			margin-bottom: 1.2em;
		}
		&__img {
			height: 100%;
			width: 100%;
		}
		&__brand {
			font-size: 2.5rem;
		}
		&__motto {
			font-size: 1.8rem;
		}
		&__menu {
			&-link {
				font-size: 1.7rem;
			}
		}
		&__socials {
			&-title {
				font-size: 2.3rem;
			}
			&-link {
				font-size: 1.7rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.nav {
		top: 44px;
		&__mobile {
			display: none;
		}
		&__desktop {
			display: flex;
		}
	}
	.header {
		margin-top: 109px;
	}
	.about {
		&__boxes {
			display: flex;
			justify-content: center;
		}
		&__box {
			&--text {
				margin-right: 1em;
				width: 55%;
			}
			&--accordion {
				width: 45%;
			}
		}
		&__text {
			font-size: 2rem;
		}
		&__title,
		&__btn {
			font-size: 2.2rem;
		}
		&__accordion {
			&-table {
				opacity: 1;
				visibility: visible;
			}
		}
		.active-accordion .about__accordion-table {
			opacity: 0;
			visibility: hidden;
		}
	}
	.structure,
	.commissions,
	.officials {
		&__boxes {
			flex-direction: row;
		}
		&__title {
			font-size: 2.5rem;
			justify-content: flex-start;
		}
		&__box {
			&--img {
				margin-right: 2em;
				width: 50%;
			}
			&--table {
				width: 50%;
			}
			&-text {
				font-size: 2.2rem;
				align-self: flex-start;
			}
			&-th {
				padding: 0.5em 0.4em;
				font-size: 1.4rem;
			}
		}
	}
	.commissions,
	.officials {
		&__box {
			&--table {
				width: 80%;
			}
		}
	}
	.socials {
		&__boxes {
			flex-direction: row;
			justify-content: center;
		}
		&__box {
			max-width: 260px;
			margin: 0.5em;
		}
	}
	.article {
		&__info {
			flex-direction: row;
			justify-content: space-between;
		}
		&__title {
			font-size: 3.5rem;
			text-align: left;
		}
		&__btn {
			font-size: 1.6rem;
		}
		&__text {
			font-size: 2rem;
		}
		&__boxes {
			align-items: flex-start;
			flex-direction: row;
		}
		&__box {
			&-intro,
			&-content {
				width: 50%;
			}
			&-intro {
				margin-right: 1.5em;
			}
			&-content {
				align-items: flex-end;
			}
		}
		&__media {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	.calendar {
		&__date {
			width: 5%;
		}
		&__info {
			width: 95%;
		}
	}
	.footer {
		&__boxes {
			flex-direction: row;
			align-items: flex-end;
			justify-content: center;
		}
		&__box {
			margin: 0;
			&--logo {
				align-self: center;
			}
			&--sitemap {
				margin: 0 3em;
			}
		}
		&__logo {
			height: 60px;
			width: 350px;
			margin-bottom: 1.2em;
		}
		&__img {
			height: 100%;
			width: 100%;
		}
		&__brand {
			font-size: 3rem;
		}
		&__motto {
			font-size: 2.2rem;
		}
		&__menu {
			&-link {
				font-size: 1.8rem;
			}
		}
		&__socials {
			&-title {
				font-size: 2.5rem;
				white-space: nowrap;
			}
			&-link {
				font-size: 1.8rem;
			}
		}
	}
}

@media (min-width: 1400px) {
	.news {
		.section-subtitle {
			top: 20%;
		}
	}
	.events {
		.section-subtitle {
			top: 20%;
		}
	}
	.newsletter {
		.section-subtitle {
			top: 5%;
		}
	}
	.structure,
	.commissions,
	.officials {
		&__title {
			font-size: 3.5rem;
		}
		&__box {
			&--img {
				margin-right: 2em;
				width: 60%;
			}
			&--table {
				width: 40%;
			}
			&-text {
				font-size: 2.5rem;
			}
		}
	}
	.commissions {
		&:nth-child(2) {
			.section-subtitle {
				top: 3%;
			}
		}
		&:nth-child(6) {
			.section-subtitle {
				top: 10%;
			}
		}
		&__box {
			&--table {
				width: 100%;
			}
		}
	}
	.officials {
		&__box {
			&--table {
				width: 100%;
			}
		}
	}
}
